doctype html
html(lang="en")
  head
    title= pageTitle
    script(type='text/javascript').
      if (foo) {
         bar(1 + 5)
      }
  body
    h1 emailin: email coming in
    #container.col
      if youAreUsingJade
        p You are amazing
      else
        p Get on it!
      p.
        this is used when new email comes in due to users commenting on youtube with +cointipme.
