doctype html
html(lang="en")
  head
    title= pageTitle
    script(type='text/javascript').
      
  body
    h1 Withdraw Bitcoin
    #container.col
      if txhash
        p withdraw successful
      else
        p withdraw unsuccessful
      p.
        txhash: #{txhash}
      p
        a(href="http://tbtc.blockr.io/tx/info/#{txhash}") see transaction in blockexplorer
